.AboutMe{
    width: 100%;
    margin-bottom:64px;
    
}
.AboutMe h1{
    margin:64px 0 32px 0;
    text-align: center;
    font-size:2.5em;
    color:black;
    font-weight: bold;
}
.AboutMe p{
    font-size:1.3em;
    font-family: OpenSans-Italic;
    margin:0 auto;
    text-align: justify;
    width: 60%;
    line-height: 40px;   
}
.scrollTop{
    text-align: right
}
.scrollTop input{
    font-size:0.8em;
    width: 150px;
    border:1px solid rgb(194, 189, 189);
    padding:8px;
    margin-bottom:16px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.582);
    color:white;
    border-radius: 10px;
}
.scrollTop input:hover{
    opacity: 0.5;
}  