.AboutMe{
    width: 100%;
    margin-bottom:32px;
}
.AboutMe::after{
    margin-top:64px;
    display: block;
    content:"";
    border-bottom:1px solid rgb(238, 228, 228)
}
.AboutMe h1{
    margin:64px 0 32px 0;
    text-align: center;
    font-size:2.5em;
    color:black;
    font-weight: bold;
}
.AboutMe p{
    font-size:1.3em;
    font-family: OpenSans-Italic;
    margin:0 auto;
    text-align: justify;
    width: 60%;
    line-height: 40px;   
}
.scrollTop{
    text-align: right
}
.scrollTop input{
    cursor: pointer;
    font-size:0.8em;
    width: 150px;
    border:1px solid rgb(194, 189, 189);
    padding:8px;
    margin-bottom:16px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.582);
    color:white;
    border-radius: 10px;
}
.scrollTop input:hover{
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color:rgb(185, 175, 175);
    transition: all .2s ease;
}  