
body{
    width: 101%;
    margin:0 auto;
    font-family: OpenSans;
}
@font-face {
    font-family: OpenSans;
    src: url('./fontes/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans-Italic;
    src: url('./fontes/OpenSans-LightItalic.ttf');
}
@font-face {
    font-family: OpenSans-Bold;
    src: url('./fontes/OpenSans-SemiBold.ttf');
}
a{
    text-decoration: none
}
.title{
    width: 100%;
    font-size:2em;
    margin:16px;
    position:absolute;
    display:flex;
    justify-content: space-between;
    color:white
}
.title__nav{
    display: flex;
    margin-top:16px;
    margin-right: 32px;
}
.title__nav li{   
}
.title__nav li a{
    display: block;
    font-size:0.8em;
    color:white;
}
.title__nav__border{
    display: flex;
    content:"";
    height:30px;
    padding-left: 16px;
    border-left: 2px solid white;    
}
.title__nav-border{
    
    margin-right: 16px;
}
.backgroundImage{
    
    
    background-image: url("../img/github1.png");
    background-size:cover;
    background-position: 50% 0;
    width:100%;
    height: 100vh;
}

.AboutMe{
    width: 100%;
    margin-bottom:64px;
    
}
.AboutMe h1{
    margin:64px 0 32px 0;
    text-align: center;
    font-size:2.5em;
    color:black;
    font-weight: bold;
}
.AboutMe p{
    font-size:1.3em;
    font-family: OpenSans-Italic;
    margin:0 auto;
    text-align: justify;
    width: 60%;
    line-height: 40px;
    
}



   
.desafio-box{
    margin:0 auto;
    margin-top:32px;
    padding:16px 0  16px 0 ;
    background-color:rgba(220, 242, 243,0.2);
    text-align: center;
    width:100%;
    font-family: OpenSans-Bold;
}
.desafio-box h1{
    font-weight: bold;
    font-size:2.5em;
    margin-bottom:32px;
    color:black

}
.desafio-box__content{
    width:50%;
    max-width: 700px;
    margin: 0 auto;

    border-radius:10px;
    display: flex;
    justify-content: center


}
.desafio-box__content img{
    width:100px;
    border-radius:100%;
    align-self:flex-start
    
    
    
    
}
.desafio-box__content__list{
    margin:0 auto;
    width:80%;
    text-align: left;
    line-height: 30px;
}
.desafio-box__content__list h2{
    font-size:0.71em;
}
.desafio-box__content form{
    margin:0 auto;
    width:280px;

    justify-content: space-between;
    

}
 .btn1,.btn2{
    
    height: 30px;
    width:120px;
    border:1px solid black;
    border-radius:5px;
    background-color:rgba(220, 242, 243,0.2);
}
.btn1:hover,.btn2:hover{
    background-color:rgba(22, 148, 155, 0.2);
}
.scrollTop{
    text-align: right
}
.scrollTop input{
    font-size:0.8em;
    width: 150px;
    border:1px solid rgb(194, 189, 189);
    padding:8px;
    margin-bottom:16px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.582);
    color:white;
    border-radius: 10px;
    
}
.foot{

    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(98, 69, 69, 0.205)
}
.foot p{
    font-size:1em;
    font-family: OpenSans-Bold;
    text-align: center;
}
.div-tabela-repositorios{
    overflow:auto;
    height: 300px;


}
.tabela-repositorios{
    
    margin: 0 auto;
    margin-top:32px;
    margin-bottom:32px;
    font-family: OpenSans-Bold

}
.tabela-repositorios tbody tr:nth-child(odd) {
    background-color:rgb(158, 226, 247)
}
.tabela-repositorios tbody tr:nth-child(even){
    background-color:rgb(249, 249, 250)
}
.tabela-repositorios th{


    margin-bottom:32px;

}

.tabela-repositorios td{
    padding:8px;    
    
}
.msg-erro{
    margin-top:32px;
    width:200px;
  
}
.msg-erro img{
    
    width:100px;
    margin-left:50px;
    margin-bottom:16px;
  
}
.msg-erro h2{
    position:relative;
    right:40px;
    width: 300px;
    margin-right:1500px
}
.msg-erro-usernf img{
    margin-bottom: 32px;
    
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }